<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neo.dao.GroupDao">

  <select id="findEntityById" parameterType="java.lang.String" resultType="com.neo.entity.GroupEntity">
    select * from `group`
    where id = #{id, jdbcType=VARCHAR}
  </select>

  <select id="findGroupsByGroupName" parameterType="java.lang.String" resultType="com.neo.entity.GroupEntity">
    select * from `group`
    where groupname = #{groupName, jdbcType=VARCHAR}
  </select>

  <select id="findGroupByUserId" parameterType="java.lang.String" resultType="com.neo.entity.GroupEntity">
    select * from `group`
    where user_id = #{user_id, jdbcType=VARCHAR}
  </select>

  <select id="findGroupUserByUserId" parameterType="java.lang.String" resultType="com.neo.entity.GroupUser">
    select * from group_user
    where user_id = #{user_id, jdbcType=VARCHAR}
  </select>

  <select id="findUsersByGroupId" parameterType="java.lang.String" resultType="com.neo.entity.GroupUser">
    select * from group_user
    where group_id = #{group_id, jdbcType=VARCHAR}
  </select>

  <select id="saveEntity" parameterType="com.neo.entity.GroupEntity">
    insert into `group` (
    id,
    groupname,
    user_id,
    user_name,
    avatar,
    creat_date
    )
    values (
    #{id,jdbcType=VARCHAR},
    #{groupname,jdbcType=VARCHAR},
    #{user_id,jdbcType=VARCHAR},
    #{user_name,jdbcType=VARCHAR},
    #{avatar,jdbcType=VARCHAR},
    #{creat_date,jdbcType=VARCHAR}
    )
  </select>

</mapper>