<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neo.dao.GroupDao">

  <select id="findEntityById" parameterType="java.lang.String" resultType="com.neo.entity.GroupEntity">
    select * from `im_group`
    where id = #{id, jdbcType=VARCHAR}
  </select>

  <select id="findGroupsByName" parameterType="java.lang.String" resultType="com.neo.entity.GroupEntity">
    select * from `im_group`
    where name = #{name, jdbcType=VARCHAR}
  </select>

  <select id="findGroupByOwnerId" parameterType="java.lang.String" resultType="com.neo.entity.GroupEntity">
    select * from `im_group`
    where ownerId = #{ownerId, jdbcType=VARCHAR}
  </select>

  <select id="saveEntity" parameterType="com.neo.entity.GroupEntity">
    insert into `im_group` (
    id,
    name,
    ownerId,
    ownerName,
    iconUrl,
    createTime
    )
    values (
    #{id,jdbcType=VARCHAR},
    #{name,jdbcType=VARCHAR},
    #{ownerId,jdbcType=VARCHAR},
    #{ownerName,jdbcType=VARCHAR},
    #{iconUrl,jdbcType=VARCHAR},
    now()
    )
  </select>

</mapper>